# Игнорирование кеша и временных файлов Python
__pycache__/
*.pyc

# Игнорирование файлов базы данных SQLite


# Игнорирование файлов виртуального окружения
.env
venv/

# Игнорирование специфических файлов и директорий
.room.txt  # Файл с именем room.txt
.idea/     # Папка с настройками среды разработки (например, PyCharm)
*.txt      # Все текстовые файлы
*.docx     # Все файлы Microsoft Word
*.jpg      # Все файлы изображений JPG
*.png      # Все файлы изображений PNG

# Игнорирование конкретных Python файлов
.add_init_files.py
.run.py
.setup_structure.py

# Игнорирование директории web_app
/web_app/